*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;background-color: #000;
} 
nav{
  position: relative;
  display: flex;align-items: center;
  justify-content: center;height: 50px;width: 524px;border-radius: 8px;
  background-color: #222;
}
nav a{
  position: relative;display: inline-block;
  text-decoration: none;color: #fff;
 
  font-size: 1em;font-weight: 500;
  padding: 0 23px;z-index: 1;
}
nav span{
  position: absolute;
  /* top: 0;left: 0;width: 9px;height: 100%; */
  background: linear-gradient(45deg,#4f1919,#ff3333);
  border-radius: 8px;
  width: 95px;height: 100%;
  top: 0;left: 0;
  transition: 0.5s;
  
}

nav a:nth-child(1):hover~span{
  left: 0;
}
nav a:nth-child(2):hover~span{
  left: 95px;
}
nav a:nth-child(3):hover~span{
  left: 190px;
}
nav a:nth-child(4):hover~span{
  left: 289px;width: 115px;
}
nav a:nth-child(5):hover~span{
  left: 413px;
  width: 110px;
}