:root{
  --primary-color:#ff652f;
  --dark-color:#222;
  --white-color:#fff;
  --font-family:"Nunito",sans-serif;
  /* homesection */
  --rotate-speed:40;
  --count:8;
  --easeInOutSine:cubic-bazier(0.37,0,0.63,1)
  --easing:cubic-bazier(0,0.37,1,0.63)
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}
body{
  height: 100%;
  width: 100%;
  background-image: url("https://picsum.photos/1200/1200");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;

}
nav{
  background-color: var(--white-color);
  position: fixed;width: 100%;
  height: 85px;
  line-height: 85px;
  z-index: 999;
}
nav .wrapper{
  min-width: 1300px;
  position: relative;
  margin: auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .wrapper .logo a{
  font-style: 30px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  color: var(--dark-color);
}
nav .wrapper .logo a span{
  color: var(--primary-color);
  background-color: var(--dark-color);
  padding: 0 10px;
  margin-left: -5px;
}
nav .wrapper .nav-links{
  display: inline-flex;
}
nav .wrapper .nav-links li{
  list-style: none;
}
nav .wrapper .nav-links li a{
  padding: 10px 20px;
  text-decoration: none;
  color: var(--dark-color);
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1px;
  transition: all 0.5s ease-in-out;
}
nav .wrapper .nav-links li a:hover{
  background-color: var(--primary-color);
}
nav .wrapper .nav-links li .dropdown-menu{
  background-color: var(--dark-color);
  width: 10rem;
  position: absolute;
  top: 85px;
  line-height: 55px;
  opacity: 0;
  visibility: hidden;
  border-top: 4px solid var(--primary-color)
}
nav .wrapper .nav-links li:hover .dropdown-menu{
  visibility: visible;
  opacity: 1;
}
nav .wrapper .nav-links .dropdown-menu li{
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .wrapper .nav-links .dropdown-menu li a{
  color: #fff;
  width: 100%;
  display: block;
  padding: 0 0 0 20px;
  font-weight: 500;
}
/* Mega Menu */
nav .wrapper .mega-menu{
  position: absolute;
  top: 85px;
  width: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in;
}
nav .wrapper .nav-links li:hover .mega-menu{
  visibility: visible;
  opacity: 1;
  transition: all 0.5 ease-in;
}
nav .wrapper .mega-menu .content{
  background-color: var(--dark-color);
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  border-top: 4px solid var(--primary-color);
  width: 80%;
  margin: auto;
}
nav .wrapper .mega-menu .content .row .title{
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 500;
  border-bottom: 3px solid var(--primary-color);
  width: 100%;
}
nav .wrapper .mega-menu .content .row .mega-menu-links{
  margin-top: 10px;
  margin-left: -40px;
  text-align: center;
  padding: 0;
}
nav .wrapper .mega-menu .content .row .mega-menu-links li{
  padding: 0 10px;
}
nav .wrapper .mega-menu .content .row .mega-menu-links li a {
  padding: 0 10px;
  color: var(--white-color);
  font-size: 1em;
  display: block;
}
/* .container sections */
.container{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.container {
  height: 100%;
  width: 100%;
}


/* .container div:nth-child(odd){
  background-color: var(--dark-color);
  color: var(--white-color);
}
.container div:nth-child(even){
  background-color: var(--white-color);
  color: var(--dark-color);
} */
/* .container div main{
  padding-top: 7rem;
} */
.container div main .title{
  text-align: center;
  font-size: 4rem;
}

/* home text  */
.void{
  width: 100%;
  max-width: 1024px;
  margin: auto;
  position: relative;
  aspect-ratio: 1/1;

}
.void ul:hover * {
animation-play-state: paused;
}
.void ul {
  list-style:  none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  outline: 2px dotted magenta;
  
  aspect-ratio: 1 / 1;
}
.void ul li{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  /* animation */
  animation-name: rotateCW;
  animation-duration:  calc(var(--rotate-speed)*1s);
  animation-timing-function:  var(--easing);
  animation-iteration-count:  infinite ;
}
.void .card{
  width: 27%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 24px;
  gap: 8px;
  background-color: var(--white-color) !important;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1),0px 16px 32px rgba(0,0,0,0.2);
  border-radius: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--primary-color);
  animation-name: rotateCCW;
  animation-duration:  calc(var(--rotate-speed)*1s);
  animation-timing-function:  var(--easing);
  animation-iteration-count:  infinite ;
}
.void .card a{
  text-decoration: none;
 color: var(--dark-color);
}
.void .card .model-name{
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #3b2edf;
  display: block;
}
svg{
  position: absolute;
  top: 0;
  left: 0;z-index: 0;
}

.void .center-circle,
.void .second-circle,
.void .last-circle{
  position: absolute;
  width: 230px;
  aspect-ratio: 1/1;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: var(--primary-color) !important;
  box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3),
   0px 30px 60px -12px rgba(12, 5, 46, 0.25) ;
  border-radius: 50%;
}
.void .second-circle{
  width: 40%;
  background: var(--white-color) !important;
  opacity: 0.5;
}
.void .last-circle{
  width: 66%;
   background: #f5f4fe !important;
   opacity: 0.25;
 }
/* anim delays */
 .void ul li:nth-child(2),
 .void ul li:nth-child(2).card{
  animation-delay: calc(var(--rotate-speed)/var(--count)*-1s);
 }
 .void ul li:nth-child(3),
 .void ul li:nth-child(3).card{
  animation-delay: calc(var(--rotate-speed)/var(--count)*-2s);
 }
 .void ul li:nth-child(4),
 .void ul li:nth-child(4).card{
  animation-delay: calc(var(--rotate-speed)/var(--count)*-3s);
 }
 .void ul li:nth-child(5),
 .void ul li:nth-child(5).card{
  animation-delay: calc(var(--rotate-speed)/var(--count)*-4s);
 }
 .void ul li:nth-child(6),
 .void ul li:nth-child(6).card{
  animation-delay: calc(var(--rotate-speed)/var(--count)*-5s);
 }
 .void ul li:nth-child(7),
 .void ul li:nth-child(7).card{
  animation-delay: calc(var(--rotate-speed)/var(--count)*-6s);
 }
 .void ul li:nth-child(8),
 .void ul li:nth-child(8).card{
  animation-delay: calc(var(--rotate-speed)/var(--count)*-7s);
 }
/* animation */

@keyframes rotateCW {
  from{
    transform: translate3d(0px,-50%,-1px) rotate(-45deg);
  }
  to{
    transform: translate3d(0px,-50%,0px) rotate(-315deg);
  }
}
@keyframes rotateCCW{
  from{
    transform: rotate(45deg);
  }
  to{
    transform: rotate(315deg);
  }
}
.void .crop{
  -webkit-mask-image:linear-gradient(
    90deg,
    rgba(0,0,0,0),
    rgba(0,0,0,0) 50%,
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,1)
  );
}
/* .void .mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  background: url("https://picsum.photos/1200/800");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: cover;
} */
/* about */
#about{
  width: 80vw;
  margin: auto;
  padding: 4rem 0 10rem 0;
  background-color: var(--white-color) !important;
}
#about .content{
  width: 100%;
  margin: auto;
  display: block;
  background-color: var(--white-color);
}
#about .content .title{
  background-color: var(--white-color);
}
#about .content .title .title-txt{
  font-size: 3rem;
  color: var(--dark-color);
}
#about .content .title p {
  font-size: 1rem;
  color: var(--primary-color);
}
#about .content .card-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1rem;
}
#about .content .card-container .course-card{
  max-height: 300px;
  width: 20rem; 

}
#about .content .card-container .course-card .image{
  width: 120px;
  height: 120px;
  font-size: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-right: 5px solid #000;
}
#about .content .card-container .course-card  {
  display: flex;align-items: center;
  justify-content: center;flex-direction: column;
}
#about .content .card-container .course-card h5{
  font-size: 2rem;
  text-align: center;
}
#about .content .card-container .course-card p{
  font-size: 1rem;
  color: #444;text-align: center;
  word-break: break-all;
  text-indent: 50px;
}

/* tutorials section */
#tutorials{
  padding: 5rem 0;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#tutorials .card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: auto;
}
#tutorials .card-container .card{
  /* text-align: center; */
  background-color: var(--white-color);
  padding: 2rem 0;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.3em;
  border-radius: 10px;
}
#tutorials .title h3,
#tutorials .card-container .card .icon{
  color: var(--primary-color);
}


/* testimonail */
#testimonial {
  padding: 5rem 0;
  background-color: var(--white-color);
}
#testimonial .content .title h3{
  color: var(--primary-color);
}
#testimonial .content .card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#testimonial .content .card-container .card{
  width: 300px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  flex-direction: column;
  transition: all 0.6s ease-in;
  cursor: pointer;
}
#testimonial .content .card-container .card .txt .description{
  text-align: center;
}
#testimonial .content .card-container .card .image{
  display: flex;
  align-items: center;
  justify-content: center;
}

#testimonial .content .card-container .card .image img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-right: 5px solid var(--primary-color);
}
#testimonial .content .card-container .card .user-title{
  text-align: center;
}
#testimonial .content .card-container .card .user-title h4{
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary-color);
}
#testimonial .content .card-container:hover .card{
  opacity: 0.2;
  filter: blur(3px);
}
#testimonial .content .card-container .card:hover{
  opacity: 1;
  filter: blur(0px);
  transform: scale(1.2);
}
/* questions */
#questions {
  padding: 5rem 0;
}
#questions .content{
  width: 80%;
  margin: auto;
}
#questions .content .title h3{
  color: var(--primary-color);
}
#questions .content .card-container .accordion-container{
  max-width: 100%;
}
#questions .content .card-container .accordion-container .accordion-item{
  background-color: var(--white-color);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
#questions .accordion-header{
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 15px;
    font-size: 1.1em; 
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px 8px 0 0;
    transition: all 0.5s ease
  }
#questions .accordion-header:hover{
  background-color: var(--dark-color);
}
#questions .accordion-item .accordion-content{
  overflow: hidden;
  padding: 0 16px;
  max-height: 0;
  transition: max-height 0.4s ease;
}
#questions .accordion-content p{
  margin: 15px 0;
  line-height: 1.5;
}
#questions .accordion-item .icon{
  transition: transform 0.4s ease;
}
#questions .active .icon{
  transform: rotate(45deg);
}
/* contact */
#contact{
  padding: 5rem 0;
  background-color: var(--white-color);
}
#contact .content .contact-container{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 20px;
}
#contact .contact-container{
  height: 400px;
}
#contact .address iframe{
  height: 300px;
  width: 50vw;
}
#contact .contact-form form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
#contact .contact-form form .form-item input{
  padding: 12px 14px;
  width: 20vw;
  font-size: 1.1em;
  color: var(--dark-color);
}
#contact .contact-form form .form-item input[type="submit"]{
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  color: var(--white-color);
}
footer{
  padding: 2rem 0;
  background-color: var(--dark-color);
  color: var(--white-color);display: flex;
  justify-content: center;
  align-items: center;
}


.btn-responsive{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5px;
  /* opacity: 0; */
  display: none;
  /* visibility: hidden; */
}
nav .wrapper .btn-responsive div{
  width: 30px;
  height: 5px;
  background-color: var(--primary-color);
}
@media screen and (max-width:992px){
  nav .wrapper .nav-links{
    display: none;
  }
 .btn-responsive{
    display: flex;
    position: fixed;
    right: 26px;
  }
 
  nav .wrapper .nav-links.responsive{
    display: block;
    position: fixed;
    scroll-behavior: smooth;
    /* overflow-x: scroll; */
    top: 85px;
    right: 0;
    background-color: var(--dark-color);
    height: auto;
    width: 26em;
    transition: all 0.5s ease-in;
  }
  nav .wrapper .nav-links li a {
    color: var(--white-color);
  }
  nav .wrapper .nav-links li{
    position: relative;
  }
  nav .wrapper .nav-links .dropdown-menu{
    position: absolute;
    right: 0;
    top: 0;
  }

  /* testimonails */
  #testimonial .content .card-container {
    flex-direction: column;
    gap: 20px;
  }
  #testimonial .content .title h3{
    font-size: 1em;
  }
}